<h1>Listing owner_databases</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Hostname</th>
    <th>Port</th>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @owner_databases.each do |owner_database| %>
  <tr>
    <td><%= owner_database.name %></td>
    <td><%= owner_database.hostname %></td>
    <td><%= owner_database.port %></td>
    <td><%= owner_database.username %></td>
    <td><%= owner_database.password %></td>
    <td><%= link_to 'Show', owner_database %></td>
    <td><%= link_to 'Edit', edit_owner_database_path(owner_database) %></td>
    <td><%= link_to 'Destroy', owner_database, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Database', new_owner_database_path %>
