<%= form_for(@owner_client) do |f| %>
  <% if @owner_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner_client.errors.count, "error") %> prohibited this owner_client from being saved:</h2>

      <ul>
      <% @owner_client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :database_id %><br />
    <%= f.select :database_id, Owner::Database.all.map{|db| [db.name, db.id]} %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
