<h1>Listing owner_clients</h1>

<table>
  <tr>
    <th>Database</th>
    <th>Client</th>
    <th>Domain</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @owner_clients.each do |owner_client| %>
  <tr>
    <td><%= owner_client.database_id %></td>
    <td><%= owner_client.name %></td>
    <td><%= owner_client.domain %></td>
    <td><%= owner_client.status %></td>
    <td><%= link_to 'Show', owner_client %></td>
    <td><%= link_to 'Edit', edit_owner_client_path(owner_client) %></td>
    <td><%= link_to 'Destroy', owner_client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_owner_client_path %>
