<h1>Listing system_clients</h1>

<table>
  <tr>
    <th>Database</th>
    <th>Client</th>
    <th>Domain</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @system_clients.each do |system_client| %>
  <tr>
    <td><%= system_client.database_id %></td>
    <td><%= system_client.name %></td>
    <td><%= system_client.domain %></td>
    <td><%= system_client.status %></td>
    <td><%= link_to 'Create DB', create_database_system_client_path(system_client), :method => :post %></td>
    <td><%= link_to 'Migrate DB', migrate_database_system_client_path(system_client), :method => :post %></td>
    <td><%= link_to 'Drop DB', drop_database_system_client_path(system_client), :method => :post %></td>
    <td><%= link_to 'Show', system_client %></td>
    <td><%= link_to 'Edit', edit_system_client_path(system_client) %></td>
    <td><%= link_to 'Destroy', system_client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_system_client_path %>
